*.csproj.user

.vs/

Library.API/obj/

Library.API/bin/

Library.BLL/bin/

Library.BLL/obj/

Library.DAL/bin/

Library.DAL/obj/

Library.API/appsettings.json

UtilityServices/obj/

UtilityServices/bin/
